aside h2 i.fa{
  font-size: 2em;
}

.lastfm-nowplaying .container.lastfm-content{
  font-size: 1.2em;
}

.lastfm-nowplaying .container.lastfm-content h3{
  line-height: normal;
  margin: 0 0 1em;
}

footer{
  border-top:1px solid rgba(34,34,34,.05);
  padding: 10px 15px;
  opacity: 0.5;
  transition: opacity 1s;
}

footer:hover{
  opacity: 1;
}

@media(min-width:768px) {
  footer .l{
    float:left;
  }

  footer .r{
    float:right;
  }

  footer .clear{
    clear:both;
  }
}
