header{

  border-top:8px solid #94C5BF;

  .logo{
    font-size: 3em;
    text-align: center;
  }

  nav{
    width:50%;
    margin:0 auto;
    font:2em;

    ul{

      list-style-type: none;

      li{

        display: inline-block;
        text-transform: capitalize;
        padding: 0 0.2em;

      }

    }
  }
}
