<div class="container">
  <h1>Photography</h1>
  <ul class="sub-menu">
    <li ng-repeat="section in sections" ng-class="section.name == selectedSection ? 'selected' : ''"><a ng-click="loadSection(section.name);">{{section.name}}</a></li>
  </ul>
  <h2>{{selectedSection}}</h2>
  <div class="buffer hide">
    <img ng-repeat="photo in photos" alt="{{photo.title}}" ng-src="{{photo.thumbnailsrc}}" data-image="{{photo.imgsrc}}" data-description="{{photo.title}}" />
  </div>
  <div id="gallery" class="list loading"></div>
</div>
