section{
  padding:10px 0 80px 0;

  ul.sub-menu{
    li{
      list-style: none;
      display:inline-block;
    }
  }

  .list{
    padding-top:20px;
  }
}

.film-list{
  padding:1em 0;

  iframe{
    width:100%;
    max-width: 640px;
  }
}
