body {
  font-size: 10px;
  color: #444;
}
.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: 'Poiret One', cursive, 'Open Sans', sans-serif;
  width: 100%;
  text-align: center;
}
