footer {
  background-color: #242424;
  padding: 10px;
  color: #eee;
  margin-top: 20px;
}
footer .social {
  float: right;
}
footer .social a {
  color: #eee;
  font-size: 2.5em;
  display: inline-block;
  padding: 0 4px;
}
footer .social a:hover {
  text-decoration: none;
}
footer .social a.twitter:hover i {
  color: #0084b4;
}
footer .social a.youtube:hover i {
  color: #cc181e;
}
footer .base {
  clear: both;
  color: #6f6f6f;
}
