footer {
  background-color: #242729;
  padding: 10px;
  color: #9fa6ad;
  margin-top: 20px;
}
footer .copy {
  font-size: 1.2em;
  float: left;
}
footer .social {
  float: right;
}
footer .social a {
  color: #9fa6ad;
  font-size: 2.5em;
  display: inline-block;
  padding: 0 4px;
}
footer .social a:hover {
  text-decoration: none;
}
footer .social a.twitter:hover i {
  color: #0084b4;
}
footer .social a.youtube:hover i {
  color: #cc181e;
}
footer .base {
  clear: both;
  color: #5e666e;
}
