@import (reference) "variables.less";

@color-footer-bg:#242729;
@color-footer:#9fa6ad;
@color-footer-base:darken(@color-footer, 40%);

@color-twitter:#0084b4;
@color-youtube:#cc181e;

footer{
  background-color:@color-footer-bg;
  padding:10px;
  color:@color-footer;
  margin-top:20px;

  .copy{
    font-size:1.2em;
    float: left;
  }

  .social{
    float:right;

    a{
      color:@color-footer;
      font-size:2.5em;
      display:inline-block;
      padding:0 4px;

      &:hover{
        text-decoration: none;
      }

      &.twitter:hover i{
        color:@color-twitter;
      }
      &.youtube:hover i{
        color:@color-youtube;
      }
    }
  }

  .map{
    padding: 6px 3px;
    clear: both;
    text-align: center;

    a{
      opacity:0.8;

      &:hover{
        opacity:1;
      }

      img{
        max-width:100%;
      }

    }


  }

  .links{

    clear:both;
    font-size:1em;

    ul{
      list-style-type: none;
      padding:0;

      li{
        padding: 5px 0;

        a,
        a:hover{
          color:@color-footer;
          text-decoration: none;
        }
      }
    }
  }

  .base{
    clear:both;
    color:@color-footer-base;
  }
}
