.prevent-select {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
}
header {
  border-top: 8px solid #ec1c2a;
  border-bottom: 1px solid #eee;
}
header .box {
  background-image: url('https://farm1.staticflickr.com/774/33327229795_22e4cbb423_c.jpg');
  background-size: contain;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 300px;
}
header .logo {
  font-size: 3em;
  text-align: center;
  padding: 2em 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Poiret One', cursive, 'Open Sans', sans-serif;
  background: #fff;
}
header .logo.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
header .logo a {
  color: #444;
}
header .logo a:hover {
  text-decoration: none;
}
header .logo-spacer {
  display: none;
}
header .logo-spacer.show {
  display: block;
}
header nav.main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  font: 2em;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
}
header nav.main ul {
  list-style-type: none;
  padding: 0;
}
header nav.main > ul > li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 0.2em;
  width: 33%;
  text-align: center;
  font-size: 1.4em;
  position: relative;
}
header nav.main > ul > li > a {
  color: #666;
}
header nav.main > ul > li > a:hover {
  text-decoration: none;
}
header nav.main > ul > li > ul {
  position: absolute;
  background: #fff;
  display: none;
  width: 100%;
}
header nav.main > ul > li > ul > li {
  border: solid 1px #eee;
  padding: 2px 1px;
}
header nav.main > ul > li:hover > ul,
header nav.main > ul > li ul.open {
  display: block;
}
header nav.sub ul li {
  list-style-type: none;
}
