header .sticky {
  border-top: 8px solid #ec1c2a;
  border-bottom: 1px solid #eee;
  background: #fff;
}
header .sticky.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
header .sticky.fixed .box {
  display: none;
}
header .logo {
  font-size: 3em;
  text-align: center;
  padding: 0.9em 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: 'Poiret One', cursive, 'Open Sans', sans-serif;
}
header .logo a {
  color: #444;
}
header .logo a:hover {
  text-decoration: none;
}
header nav.main {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  font: 2em;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;
  user-select: none;
}
header nav.main ul {
  list-style-type: none;
  padding: 0;
}
header nav.main > ul > li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 0.2em;
  width: 33%;
  text-align: center;
  font-size: 1.4em;
  position: relative;
}
header nav.main > ul > li > a {
  color: #666;
  cursor: pointer;
}
header nav.main > ul > li > a:hover {
  text-decoration: none;
}
header nav.main > ul > li > a .icon {
  width: 30px;
  height: 30px;
}
header nav.main > ul > li:hover > ul,
header nav.main > ul > li ul.open {
  display: block;
}
.sticky-spacer {
  display: none;
}
.sticky-spacer.show {
  display: block;
}
