@import (reference) "variables.less";

header{

  .sticky{

    border-top:8px solid @color-primary;
    border-bottom:@section-border;
    background: #fff;

    &.fixed{
      position: fixed;
      top:0;
      width: 100%;
      z-index:1;

      .box{
        display:none;
      }
    }
  }

  .logo{
    font-size: 3em;
    text-align: center;
    padding:0.9em 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family:@font-primary;

    a{
      color:@color-base;

      &:hover{
        text-decoration:none;
      }

    }
  }

  nav.main{
    width:100%;
    max-width: 700px;
    margin:0 auto;
    font:2em;
    .prevent-select;

    ul{
        list-style-type: none;
        padding:0;
    }

    > ul{

      > li{

        display: inline-block;
        text-transform:uppercase;
        padding: 0 0.2em;
        width:33%;
        text-align: center;
        font-size:1.4em;
        position: relative;

        > a{
          color:#666;
          cursor: pointer;
          &:hover{
            text-decoration:none;
          }

          .icon{
            width:30px;
            height:30px;
          }
        }

        &:hover > ul,
        ul.open{
          display: block;
        }

      }

    }
  }
}

.sticky-spacer{
  display:none;
  &.show{
    display: block;
  }
}
